:root{
    --darkblack:#000000;
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --lightGray: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
   
}

/*fix for screen sizes */
@media (min-height:640px), screen and (orientation:portrait) {
  section {
    background-attachment:initial;
    background-image: initial;
  }
  div{position:relative;}
}
.username{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--cultured)
}

body{
  overflow-x:hidden;
  font-family:Verdana, Tahoma, sans-serif;
  color: var(--cutltured);
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  margin:0px;
  padding:0px;
  width: 100%;
  height: 100vh;
}



#slideShow{
  overflow-x:hidden;
  background-attachment: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: webkit-slideShow 35s 0.1s linear infinite;
  -moz-animation: moz-slideShow 35s 0.1s linear infinite;
  -o-animation: o-slideShow 35s 0.1s linear infinite;
  -ms-animation: ms-slideShow 35s 0.1s linear infinite;
  animation: slideShow 35s 0.1s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url("/img/s2ks-054.png"), url("/img/s2ks-054.png");
  }


  @keyframes slideShow{
    0% {
      background-image: url("/img/s2ks-054.png"), url("/img/s2ks-022.png");
    }
    15% {
      background-image: url("/img/s2ks-022.png"), url("/img/Jin-60.jpeg");
    }
    30%{
      background-image: url("/img/Jin-60.jpeg"), url("/img/Jin-65.jpeg");
    }
    45%{
      background-image: url("/img/Jin-65.jpeg"), url("/img/s2ks-022.png");
    }
    60%{
      background-image: url("/img/s2ks-022.png"), url("/img/s2ks-139.png");
    }
    75%{
      background-image: url("/img/s2ks-139.png"), url("/img/s2ks-054.png");
    }
    100%{
      background-image: url("/img/s2ks-054.png");
    }
  }
  @-ms-keyframes slideShow{
    0% {
      background-image: url("/img/s2ks-054.png"), url("/img/s2ks-022.png");
    }
    15% {
      background-image: url("/img/s2ks-022.png"), url("/img/Jin-60.jpeg");
    }
    30%{
      background-image: url("/img/Jin-60.jpeg"), url("/img/Jin-65.jpeg");
    }
    45%{
      background-image: url("/img/Jin-65.jpeg"), url("/img/s2ks-022.png");
    }
    60%{
      background-image: url("/img/s2ks-022.png"), url("/img/s2ks-139.png");
    }
    75%{
      background-image: url("/img/s2ks-139.png"), url("/img/s2ks-054.png");
    }
    100%{
      background-image: url("/img/s2ks-054.png");
    }
  }

  @-webkit-keyframes webkit-slideShow{
      0% {
        background-image: url("/img/s2ks-054.png"), url("/img/s2ks-022.png");
      }
      15% {
        background-image: url("/img/s2ks-022.png"), url("/img/Jin-60.jpeg");
      }
      30%{
        background-image: url("/img/Jin-60.jpeg"), url("/img/Jin-65.jpeg");
      }
      45%{
        background-image: url("/img/Jin-65.jpeg"), url("/img/s2ks-022.png");
      }
      60%{
        background-image: url("/img/s2ks-022.png"), url("/img/s2ks-139.png");
      }
      75%{
        background-image: url("/img/s2ks-139.png"), url("/img/s2ks-054.png");
      }
      100%{
        background-image: url("/img/s2ks-054.png");
      }
    }

    @-moz-keyframes moz-slideShow{
      0% {
        background-image: url("/img/s2ks-054.png"), url("/img/s2ks-022.png");
      }
      15% {
        background-image: url("/img/s2ks-022.png"), url("/img/Jin-60.jpeg");
      }
      30%{
        background-image: url("/img/Jin-60.jpeg"), url("/img/Jin-65.jpeg");
      }
      45%{
        background-image: url("/img/Jin-65.jpeg"), url("/img/s2ks-022.png");
      }
      60%{
        background-image: url("/img/s2ks-022.png"), url("/img/s2ks-139.png");
      }
      75%{
        background-image: url("/img/s2ks-139.png"), url("/img/s2ks-054.png");
      }
      100%{
        background-image: url("/img/s2ks-054.png");
      }
    }

    @-o-keyframes o-slideShow{
      0% {
        background-image: url("/img/s2ks-054.png"), url("/img/s2ks-022.png");
      }
      15% {
        background-image: url("/img/s2ks-022.png"), url("/img/Jin-60.jpeg");
      }
      30%{
        background-image: url("/img/Jin-60.jpeg"), url("/img/Jin-65.jpeg");
      }
      45%{
        background-image: url("/img/Jin-65.jpeg"), url("/img/s2ks-022.png");
      }
      60%{
        background-image: url("/img/s2ks-022.png"), url("/img/s2ks-139.png");
      }
      75%{
        background-image: url("/img/s2ks-139.png"), url("/img/s2ks-054.png");
      }
      100%{
        background-image: url("/img/s2ks-054.png");
      }
    }

.tree {
  color: var(--cultured);
  margin-top: 30px;
  margin-bottom:5px;
  text-align: center;
  width: 100%;
  max-width: auto;
  text-transform;
  font-weight: 500px;
}
.whoiam {
  color: var(--cultured);
  font-family: roboto;
  margin-bottom: 5px;
  padding-right: .1em;
  font-size: 1.5em;
  transition:all 2s ease-in-out;
  transition-delay: 1ms;
  transition-duration: 20ms;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3); ;

}
.links {
  width:100%;
  min-height:49px;
  height:40%;
  max-height:10px;
  overflow:hidden;
  display:inline-block;
}
.tree .footer {
  margin: 2rem;
}
.tree .profile-pic {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
}
.btn {
  background-color: var(--white);
  border: none;
  color:#000000;
  -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         5px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
    background-color: var(--cutltured);
    border: none;
    outline: none;
    color: var(--lightGray);
    -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}
.btn:active, .btn:focus, .btn:target {
  background-color: var(--cultured);
  border: transparent;
  outline: none;
  color: #161a1d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-left: 7px;
}

h1{
    color:var(--cultured)
}
/* navbar */
.navbar{
  background: var(--mainWhite);
  transition:all 2s ease-in-out;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 1rem;
  background: rgba(0,0,0,0.4);
  z-index: 100;

}
.navbar-icon{
  margin: 0.75em auto;
  font-size: 3em;
  color: var(--cutltured);
}
.navbar-toggler{
  outline-color: var(--cutltured)!important;
}
.nav-link{
  color: var(--cutltured);
  text-transform: capitalize;
}
.nav-link:hover{
  color: var(--cutltured);
}
.icons {
  
  margin-top: 2em;
  margin: .1em;
  padding-right: .1em;
}
.icons .nav-icons{
  color: var(--cultured);
  margin: 0em;
  padding: .05em;
  font-size: 2em;
  transition:all 2s ease-in-out;
  transition-delay: 1ms;
  transition-duration: 20ms;
}

.fa-youtube {
  padding-left: .17em;
  filter: invert(60%) sepia(90%) saturate(4407%) hue-rotate(343deg) brightness(97%) contrast(100%) opacity(1);
}
.fa-tiktok {
  color: var(--darkblack);
  filter: drop-shadow(-.05em -0.1rem 0.05em rgba(20, 100, 100, 1)) drop-shadow(0.05em 0.1rem 0.05em rgba(220, 39, 67, 0.9));
}
.radial svg * {
  fill:url(#rg);
}
.nav-icons:hover{
  color: var(--cutltured);
}
.footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--cultured);
  font-size:x-small;
}